@import './../../shared/styles/vars.scss';

.card-label{
    height: auto;
    padding: 8px;
    gap: 8px;
    width: 100%;
    background: $color-white;
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(0,0,0,.1);
}

.info{
    font-size: 12px;
    line-height: 100%;
    color: $color-dark;
}

.labels{
    display: flex;
    align-items: center;
    align-content: center;
    gap: 4px;
    align-self: stretch;
    flex-wrap: wrap;
}

.is-selected{
    border: 4px solid $color-primary;
    border-radius: 50%;
}

.center-content{
    justify-content: center;
}