@import './../../shared/styles/vars.scss';

.card-label{
    height: auto;
    padding: 4px 8px;
    gap: 8px;
    width: 100%;
    background: $color-primary;
    border-radius: 10px;
}

.info{
    font-size: 12px;
    line-height: 100%;
}

.labels{
    display: flex;
    align-items: center;
    align-content: center;
    gap: 4px;
    align-self: stretch;
    flex-wrap: wrap;
}