@import './../../shared/styles/vars.scss';

$HEIGHT_INPUT:36px;

.input-container{
    background:$color-background;
    width:100%;
    padding:4px;
    border-radius: 10px;
}

.is-enabled{
    border: 1px solid $color-primary !important;
}

.is-invalid{
    border: 1px solid $color-error !important;
}