<nav class="width-100">
    <ul>
        <li (click)="goTo(NAVEGATION.home)">
            <img class="icon" src="./../../../assets/icons/home.svg">
        </li>
        <li (click)="goTo(NAVEGATION.labels)">
            <img class="icon" src="./../../../assets/icons/label.svg">
        </li>
        <li (click)="goTo(NAVEGATION.register)">
            <div class="circle"></div>
            <img class="icon plus" src="./../../../assets/icons/plus.svg">
        </li>
        <li>
            <!--<img class="icon" src="./../../../assets/icons/calendar.svg">-->
            <img class="icon" src="./../../../assets/icons/analytics.svg">
        </li>
        <li>
            <img class="icon" src="./../../../assets/icons/settings.svg">
        </li>
    </ul>
</nav>