@import './../../shared/styles/vars.scss';

.label{
    border-radius: 50%;
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $color-primary;
    transition: .2s;
}

.label:hover{
    opacity: .8;
}

span{
    font-size: 24px;
    line-height: 100%;
    color: $color-white;
}