<div class="page-container">

    <div class="label-generate-container row-center">
        <app-label [label]="labelToGenerate" [size]="128"></app-label>
    </div>

    <app-select class="section width-100 margin-24"></app-select>


    <div class="page-with-padding">
        <!-- Colour input -->
        <app-labels-card class="section width-100 margin-24"></app-labels-card>
        <!-- Button Apply -->
    </div>

    <app-footer class="section width-100 fixed-bottom"></app-footer>
</div>

