@import './../../shared/styles/body-page.scss';
@import './../../shared/styles/vars.scss';

.label-generate-container{
    background: $color-primary;
    padding:16px;
}

.card{
    padding:16px;
    background-color: $color-primary;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    border-radius:10px;
}