<div class="page-container">

    <div class="label-generate-container row-center">
        <app-label [label]="labelToGenerate" [size]="128"></app-label>
    </div>

    <app-select class="section width-100 margin-24"></app-select>


    <div class="page-with-padding">
        <app-color-input class="section width-100 margin-24" (set)="setColour($event)"></app-color-input>
        <app-labels-card class="section width-100 margin-24" [text]="'Selecciona una imagen:'" [showAdd]="false"></app-labels-card>
        <app-button-input class="section width-100 margin-24" [text]="'Aplicar'"></app-button-input>
    </div>

    <app-footer class="section width-100 fixed-bottom"></app-footer>
</div>

