@import './../../../shared/styles/vars.scss';
@import './../input.scss';

.button{
    background: $color-primary;
    width:100%;
    height: $HEIGHT_INPUT;
    color: $color-white;
    outline: none;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
}


.input-container{
    padding:0 !important;
}