@import './../../shared/styles/vars.scss';

$WIDTH: 100px;
$MARGIN: 16px;

.select-container{
    height: 36px;
    position: relative;
}

button{
    height: 100%;
    width: $WIDTH;
    border: 4px;
    transition:.2s;
    background:transparent;
    color:$color-dark;
}

button.selected{
    font-weight: 700;
}

.rect{
    position: absolute;
    bottom: 0;
    width: calc($WIDTH - $MARGIN * 2);
    height: 4px;
    background: $color-primary;
    border-radius: 10px;
    transition: .2s;
}

.rect.ingresos{
    left: $MARGIN;
}

.rect.gastos{
    left: calc($WIDTH + $MARGIN);
}