<div class="background">

    <div class="card">


        <div class="form-section column-left">
            <asl-google-signin-button 
            style="margin-left:6px;"
            type='standard' 
            size='large' 
            shape="pill"
            text="continue_with"
            width="400"
            theme="outline"
            logo_alignment="center"></asl-google-signin-button>

            <div class="width-100 line">
                <div class="half-line"></div>
                <span>o</span>
                <div class="half-line"></div>
            </div>


            <app-text-input class="width-100" [placeholder]="'Nombre de usuario'"
            [value]="username" [widthAuto]="true" (set)="setUsername($event)"></app-text-input>

            <app-text-input class="width-100" [type]="'password'" [placeholder]="'Contraseña'"
            [value]="password" [widthAuto]="true" (set)="setPassword($event)"></app-text-input>
            
            <app-button-input class="width-100" [text]="'Ingresar'"></app-button-input>

            <div class="actions width-100 column-left gap-4">
                <span class="remember-password" (click)="rememberPassword()" >¿Olvidaste tu contraseña?</span>
                <span class="register" (click)="register()">¿No tienes cuenta? Regístrate</span>
            </div>
        </div>

    </div>

</div>