<div class="page-container">
    <app-header class="section width-100"></app-header>
    <app-select class="section width-100 margin-24" [selected]="this.registerToGenerate.section" (set)="setSelect($event)"></app-select>

    <div class="page-with-padding">
        
        <app-number-input class="section width-100 margin-24" [value]="this.registerToGenerate.amount" [placeholder]="'Ingresa un número'" 
        (set)="setAmount($event)"></app-number-input>

        <app-labels-card class="section width-100 margin-24" [showAdd]="false"
        [text]="getText(this.registerToGenerate.section)" [labels]="getLabels(this.registerToGenerate.section)" 
        [showSelected]="true" [selected]="getSelected()" (select)="setLabelSelected($event)"></app-labels-card>

        <app-date-input [value]="getDateSelected()" [placeholder]="'Ingresa una fecha'" (set)="setDate($event)"></app-date-input>

        <div class="column-left gap-2 width-100">
            <app-button-input class="section width-100" [text]="'Aplicar'" (click)="saveRegister()"></app-button-input> 
            <span class="message-info message-error">{{messageInfo}}</span>   
        </div>
    </div>

    
    <div class="footer-void"></div>
    <app-footer class="section width-100 fixed-bottom"></app-footer>
</div>