.page-container{
    width:100vw;
    height:100vh;
    position:relative;
}

.page-with-padding{
    padding: 0px 16px;
}

.fixed-bottom{
    position: fixed;
    bottom: 0;
    left: 0;
}

.section{
    display:flex;
}

.margin-24{
    margin-bottom: 24px;
}

.footer-void{
    height: 50px;;
}