.row-left{
    display:flex;
    align-items: center;
    justify-content: flex-start;
}

.row-center{
    display:flex;
    align-items: center;
    justify-content: center;
}

.row-right{
    display:flex;
    align-items: center;
    justify-content: flex-end;
}

.row-between{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.column-left{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}