//$color-primary: #FE4E00;
$color-primary: #4e7dc7;
//#3066BE

$color-secondary: #6E8684;
$color-dark: #393E41;
$color-background: #f6f6f6;

$color-white: #fff;
$color-grey: #ccc;
$color-black: #000;


$color-button-google: #1F1F1F;
$color-enabled: #2BC012;
$color-error: #E73434;