<div class="page-container">
    <app-header class="section width-100"></app-header>
    <app-select class="section width-100 margin-24"></app-select>

    <div class="page-with-padding">
        
    <app-labels-card class="section width-100 margin-24" [text]="getText(selects.GASTOS)" [labels]="labelGastos"></app-labels-card>
    <app-labels-card class="section width-100 margin-24" [text]="getText(selects.INGRESOS)" [labels]="labelIngresos"></app-labels-card>

    </div>



    <app-footer class="section width-100 fixed-bottom"></app-footer>
</div>

