@import './app/shared/styles/flex.scss';
@import './app/shared/styles/gap.scss';

body{
    margin:0;
    padding:0;
}

*{
    font-family: 'Lato', 'Roboto', sans-serif;
}

.width-100{
    width:100%;
}