@import './app/shared/styles/flex.scss';
@import './app/shared/styles/gap.scss';
@import './app/shared/styles/vars.scss';
@import './app/shared/styles/fonts.scss';

body{
    margin:0;
    padding:0;
    background:$color-background;

}

*{
    font-family: 'Lato', 'Roboto', sans-serif;
    color:$color-black;
}

.width-100{
    width:100%;
}

.pointer{
    cursor: pointer;
}

.message-error{
    color:$color-error;
}

.card {
    height: auto;
    padding: 12px;
    gap: 8px;
    width: 100%;
    background: $color-white;
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(0,0,0,.1);
}