@import './app/shared/styles/flex.scss';
@import './app/shared/styles/gap.scss';
@import './app/shared/styles/vars.scss';

body{
    margin:0;
    padding:0;
    background:$color-background;

}

*{
    font-family: 'Lato', 'Roboto', sans-serif;
    color:$color-white;
}

.width-100{
    width:100%;
}

.pointer{
    cursor: pointer;
}

.message-error{
    color:$color-error;
}